<div id="content" class="">
  <div class="main">
    <div class="row">
      <div class="large-12 columns">
        <div class="jumbo black-opaque">        
          <div class="jumbo-pad">        
            <div class="row">
              <div class="large-12 columns bottom-pad">
<h1 class="size-center">About Me</h1>
            <hr />
            
                <p>ALXS Design is the company name for myself, Alex Scott. I am based in Wirral, Merseyside and specialise in providing low-priced websites tailored for each of my clients, including after-sales support with our packages if this is needed.</p><br />
                <p>I'm all about offering a more personal service than most other companies and beleive that communication with the client is critical to providing the highest quality of service. I like to try and include the client in the whole process as much as I can, making sure absolutely everything is perfect before the site goes live.</p>
              </div>
              <div class="large-0 columns center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
