<div id="top">
  <div class="row">
    <div class="large=12 columns">
      <h1 class="about-title center">About Me</h1>
      <br />
      <div class="jumbo black-opaque">
      <span class="about-content">
        <p>ALXS Design is the company name for myself, Alex Scott. I am based in Wirral, Merseyside and specialise in providing low-priced websites tailored for each of my clients, including after-sales support with our packages if this is needed.</p><br />
        <p>I'm all about offering a more personal service than most other companies and beleive that communication with the client is critical to providing the highest quality of service. I like to try and include the client in the whole process as much as I can, making sure absolutely everything is perfect before the site goes live.</p>
      </span>
      </div>
    </div>  
  </div>  
</div>


<div id="middle">
  <div class="row">
    <div class="large=12 columns">
    
        <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
          <li>
          <a href="/assets/btta-desktop.png">
          <img data-caption="Back To The Anthems - Desktop" src="/assets/btta-desktop.png"></a>
          </li>
          <li>
          <a href="/assets/btta-responsive.png">
          <img data-caption="Back To The Anthems - Mobile" src="/assets/btta-responsive.png"></a>
          </li>
          <li>
          <a href="/assets/alxs-responsive.png">
          <img data-caption="ALXS Design - Mobile" src="/assets/alxs-responsive.png"></a>
          </li>
          <li>
          <a href="/assets/alxs-desktop.png">
          <img data-caption="ALXS Design - Desktop" src="/assets/alxs-desktop.png"></a>
          </li>
          <li>
          <a href="/assets/btta-desktop.png">
          <img data-caption="Back To The Anthems - Desktop" src="/assets/btta-desktop.png"></a>
          </li>
          <li>
          <a href="/assets/btta-responsive.png">
          <img data-caption="Back To The Anthems - Mobile" src="/assets/btta-responsive.png"></a>
          </li>
          <li>
          <a href="/assets/alxs-responsive.png">
          <img data-caption="ALXS Design - Mobile" src="/assets/alxs-responsive.png"></a>
          </li>
          <li>
          <a href="/assets/alxs-desktop.png">
          <img data-caption="ALXS Design - Desktop" src="/assets/alxs-desktop.png"></a>
          </li>
        </ul>
    
    
    </div>
  </div>
</div>
