<% provide(:title, "Projects") %>
<div id="content-projects" class="">
  <div class="main">
    <div class="row">
      <div class="large-12 columns">
        <div class="project" id="sidebar">
          <div class="jumbo project-jumbo">
            <div class="jumbo-pad">
              <div class="text">
                <h1 class="">Foundation Sidebar</h1>
                <div class="buttons">
                  <a href="/sidebar" class="button round">Demo/Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="project" id="column">
          <div class="jumbo project-jumbo">
            <div class="jumbo-pad">
              <div class="text">
                <h1 class="">Column Navigation</h1>
                <div class="buttons">
                  <a href="/column/" class="button round">Demo</a>
                  <a target="_blank" href="https://github.com/tipsforthings/column-nav" class="button round">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
